<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lrd_system">

    <xacro:include filename="chassis.xacro"/>

    <!-- <xacro:include filename="sensors.xacro"/> -->

    <xacro:include filename="gazebo.xacro"/> 

    <xacro:include filename="ros2_control.xacro"/>

</robot>